*{
    font-family:'Plus Jakarta Sans',sans-serif;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}
@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
$kichthuoc:1000;
.fa-bars{
    display: none     ;
    border: rgb(162, 178, 166) solid 1px;
    padding: 8px 15px;
    font-size: 35px;
    color: rgb(34, 29, 29);
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10%
}
.header{
    padding-top: 1rem !important;
    display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 3rem !important;
    padding-left: 3rem !important;
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    

}
.logo{
    color: rgb(30 48 243);
    font-size: 20px;    
}
.link_logo{
    text-decoration: none;
    margin-right: 1rem;
    padding-bottom: 0.315rem !important;
}
.menuitem{
    display: flex;
    padding-top: 0.2rem !important;
    padding-bottom: 0.315rem !important;
}
.menuitem li{
    list-style-type: none;
    padding: 8px;
    color: rgb(115 115 115);
    font-size: 0.875em;
}
.content1{
    display: flex;
        justify-content: center;
        padding-top: 4rem !important;
        padding-bottom: 3rem !important;
        align-items: center;
        padding-right: 4rem !important;
        padding-left: 2.9rem !important;
        max-width: 1320px;
        margin-right: auto;
        margin-left: auto;
}
.content1 .slogan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 41.66666667%;
}

.ddm{
    background: #1e30f3;
    background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
    padding: 2px;
    border-radius: 5px;
    color: aliceblue;
    font-size: 12px;
    display: inline !important;
    width: 290px;
    margin-bottom: 1.5rem !important;

}
.ichy{
    margin: 0px !important;
}
.ichy span{
    font-weight: 200 !important;
    letter-spacing: 2px;
    color: gray;
    font-size: 28px;
}
.goagf{
    display: flex;
    flex-direction: column;
}
.goagf span{
    background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 64px;
}
.groupButton{
    display: flex;
    margin-top: 30px;

}
.groupButton button{
    margin-right: 25px;
    padding: 20px 50px;
    border-radius: 10px;
    cursor: pointer; 
}
.resume{
    color:white;
    background-color: blue;
    border-width:0;
    &:hover{
    background-color: #1e30f3;
    }
}
.projects{
    background-color: white;
    &:hover{
        background-color: black;
        color: white;
    }
}
.avatar{
    position: relative;
    background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
    border-radius: 5vw;
    height: 33vw;
    width: 33vw;
    margin-top: 5vw;
    display: flex;
    justify-content: center;
}


.avatar img{
    height: 38vw;
    max-height: 45vw;
    position: absolute;
    bottom: 0px;
    left: 10%;
}
.dots-1 svg ,.dots-2 svg  {
    width: 1.5vw;
    right: 0.75vw;
    fill: rgb(255, 255, 255);
}

.dots-3 svg ,.dots-4 svg {
    width: 1.5vw;
    right: 0.75vw;
    fill:#1e30f3;
}

.dots-1 svg{
    position: absolute;
    top: 55%;
    left: 3%;
  
}
.dots-2 svg{
    position: absolute;
    top:10%
  
}
.dots-3 svg{
    position: absolute;
    top: 60%;
    left: -5%;
}
.dots-4 svg{
    position: absolute;
    top:15%;
    right: -5%;
}
.content2{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;

}   
.content2 p{
    align-items: center;
    justify-content: center;
}
.about{
    background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    margin-bottom: 0.5rem;
}
.myname{
    font-size:20px;
    font-weight: 10;
    margin-bottom: 1.5rem !important;

}
.introduce{
    font-size:16px;
    font-weight: 10;
    width: 50%;
    margin-bottom: 1rem;
}
.social{
    display: flex;
}
.social li{
    list-style-type: none;
    margin: 10px;
}
.social li img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.footer{
    display: flex;
    justify-content: space-around;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}
.footer ul{
    display: flex;
    li{
        list-style-type: none;
        margin-left: 10px;
        margin-right: 10px;
        font-weight: 100;
        a{
        color: #1e30f3;
        }
    }
}


@media (max-width: 768px) {
    .logo{
        margin-left: 44px;
    }
    .header{
        flex-direction: column;
        align-items: flex-start;
        
    }
    .fa-bars{
        display: inline;
    }
    .menuitem{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        display: none;
        transition:height 0.35s ease ;
    }
    .menuitem.active {
        display: inline;  /* Màu nền thay đổi khi có class 'active' */
        height: 150px;
    }
    .content1{
        flex-direction: column;
        align-items: center;
         div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
         }
    }
    .slogan{
        align-items: center;
        width: 100% !important;
    }
    .goagf span{
        font-size: 40px;
    }
    .ddm{
        width: 75%;
        font-size: 11px;
        margin-bottom: 1.5rem !important;
    }
    .ichy span{
        margin-top: 10px ;
        font-size: 20px;
    }
    .groupButton {
        flex-direction: column;
        align-items: center;
        
        a{
            margin-bottom: 10px;
            button{
            margin-right: 0px;
            width: 310px;
            }
        }
    }
    .avatar{
        margin-left: 0px;
        padding: 10px;
        width: 75vw;
        height: 75vw    ;
        margin-top: 5rem !important;
        img{
            height: 90vw ;
            max-height: 300vw ;
        }
    }
    .introduce{
        width: 65%;
    }
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        ul{
            padding: 2px;
            margin: 10px;
        }
    }
}
