.PaymentMethod {
  padding: 15px 30px;
  border-radius: 12px;
  border: 1px solid var(--line-3, #eaeaea);
  margin-bottom: 30px;
  @media (max-width: 991px) {
    padding: 15px;
    margin-bottom: 15px;
  }
  .QR {
    img {
      max-width: 243px;
      display: block;
      margin: 0 auto;
    }
  }
  &-wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
    &-info-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;
      h5 {
        @include h-6-title-15-pt-b();
      }
      a {
        color: var(--Link, var(--Link, #2f69fd));
        @include bookname-15-pt-m();
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  &-qr {
    &-wrapper {
      margin-bottom: 8px;
    }
    &-btns button {
      width: 100%;
    }
    &-title {
      display: flex;
      align-items: center;
      @include h-1-book-tittle-detail-22-pt-bold();
      margin-bottom: 23px;
    }
    &-warning {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 15px;
      p {
        margin: 0;
        color: var(--Link, var(--Link, #2f69fd));
        @include small-14-pt-r();
      }
      img {
        width: 16px;
      }
    }
    &-btns {
      margin-bottom: 15px;
    }
    &-note-2 {
      border-radius: 8px;
      background: var(--bginput, #f6f6f6);
      padding: 8px;
      font-size: 15px;
    }
  }
  &-info {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-title {
      @include h-6-title-15-pt-b();
    }
    &-wraning {
      border-radius: 8px;
      background: var(--bg-card, #fcf8f1);
      display: flex;
      padding: 16px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      p {
        margin: 0;
        color: #141ed2;
        font-family: Roboto;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 19.5px */
      }
    }
    &-form {
      margin-top: 8px;
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 8px;
      gap: 12px;
      @media (max-width: 991px) {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 0;
      }
      p {
        width: 100%;
        max-width: 111px;
        margin: 0;
      }
    }
  }
}
.dash {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed var(--line-3, hsl(0, 0%, 92%));
  margin-bottom: 16px;
}
.note-info {
  border-radius: 8px;
  background: rgba(47, 105, 253, 0.1);
  padding: 15px;
  @include small-14-pt-r();
  color: var(--Link, var(--Link, #2f69fd));
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
  img {
    width: 16px;
    height: 16px;
  }
}
