.CoinCard {
  padding: 15px;
  border-radius: 8px;
  border: 1px solid var(--line-3, #eaeaea);
  height: 100%;

  &-title {
    @include small-14-pt-r();
    color: #828282;
  }

  &-description {
    column-gap: 8px;
    span {
      @include h-5-16-pt-b();
      font-weight: 500;
      color: #FF3D00;
    }
  }

  &-icon {
    flex: 0 0 20px;
    max-width: 20px;
    height: 20px;
    width: 20px;
    @include centerOriginImage;
  }

  button {
    margin-left: auto;
    @include tiny-body-13-pt-r();
    padding: 0px 8px;
  }
}